.input{
    width: 35rem;
    height: 4rem;
    border-radius: 20px;
    padding-left: 2rem;
    font-size: larger;
    border: none;
   position: relative;
   font-weight: 700;
   margin-bottom: 1rem;
}
