/* Books.module.css */

.main {
    width: 100%;
  }
  
  .booklistcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6.2rem;
  }
  
  .bookitem {
    width: 20%; 
    margin-bottom: 20px; 
    margin: 2rem;
   
  }
  
  .bookitemimg img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .bookiteminfo {
    text-align: center;
    margin-top: 20px;

  }
  .bookiteminfoitem{
    margin-top: 10px;
  }

  .btn{
    margin-top: 0.3rem;
    width: auto;
    height: 2rem;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.795);
    font-weight: 600;
    color: #fff;
  }
  